footer {
    background-color: rgb(97, 97, 97);
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
    border: 3px inset gray;
}

p {
    margin: 0px;
}

footer .link-github {
    display: none;
}

.footer-class {
    font-size: 12px;
    font-style: italic;
}
@media only screen and (min-width: 768px){
    footer {
        font-size: 10px;
    }

    footer-class {
        font-size: 9px;
    }

    footer .link-github {
        display: inline;
    }

    footer .link-github a {
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        color: whitesmoke;
    }

    footer .link-github a:hover {
        color: darkorange;
        text-decoration: underline;
    }
}