body {
    background-color: whitesmoke;
    line-height: 1;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
    margin: 0 px;
    padding: 0 px;
    display: block;
}

header h1 {
    text-align: center;
    font-size: 50px;
    color: darkorange;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    font-family: serif;
}

ul {
    display: none;
}

.date {
    font-size: 12px;
    color: darkorange;
    margin-bottom: 3px;
    margin-left: 3px;
    float: right;
}

.menu {
    width: 30px;
    height: 4px;
    background-color: darkorange;
    margin: 5px 10px;
}

.fa {
    padding: 5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: whitesmoke ;
    color: #3B5998;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: whitesmoke;
    color: #55ACEE;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: whitesmoke;
    color: #dd4b39;
}

.fa-google:hover {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: whitesmoke;
    color: #007bb5;
}

.fa-linkedin:hover {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: whitesmoke;
    color: #bb0000;
}

.fa-youtube:hover {
    background: #bb0000;
    color: white;
}

.advertisement {
    margin: 2px 0px 5px 0px;
    padding: 0px;
    width: 100%;
}

.advertisement img {
    width: 90%;
    margin-left: 5%;
    height: auto;
}

@media only screen and (min-width: 768px){
    ul {
        display: inline;
    }

    header h1 {
        text-align: center;
        font-size: 40px;
        color: darkorange;
        padding: 0px;
        margin: 0px;
        font-family: serif;
    }

    .date {
        font-size: 15px;
        color: darkorange;
        margin-bottom: 5px;
        margin-left: 5px;
        display: block;
    }

    .fa {
        padding: 5px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 1px 2px;
        border-radius: 50%;
      }

    .container-navbar {
        background-color: slategrey;
        border: 1px solid grey;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 25px;
    }

    .container-navbar ul {
        list-style: none;
        padding: opx 0px 0px 10px;
        margin: 0px;
    }

    .container-navbar li {
        display: inline;
    }

    .container-navbar a {
        text-decoration: none;
        text-transform: uppercase;
        color: darkorange;
        padding-right: 25px;
        font-size: 20px;
    }

    .container-navbar a:hover{
        color: orange;
    }

    .current a {
        color: white;
        font-weight: bold;
    }
    .advertisement {
        margin: 1px 0px 3px 0px;
        padding: 0px;
    }

    .advertisement img {
        width: 90%;
        margin: 2px 0px 15px 0px;
        margin-left: 5%;
    }

    .button {
        display: none;
    }
}