body{
    background-color: whitesmoke;
    line-height: 1;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
    margin: 0 px;
    padding: 0 px;
    display: block;
}
header h1{
    text-align: center;
    font-size: 50px;
    color: darkorange;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    font-family: serif;
}
ul{
    display: none;
}
.menu{
    width: 30px;
    height: 4px;
    background-color: darkorange;
    margin: 5px 10px;
}
.advertisement{
    margin: 2px 0px 5px 0px;
    padding: 0px;
    width: 100%;
}
.advertisement img{
    width: 90%;
    margin-left: 5%;
}
@media only screen and (min-width: 768px){
    ul{
        display: inline;
    }
    header h1{
        text-align: center;
        font-size: 40px;
        color: darkorange;
        padding: 0px;
        margin: 0px;
        font-family: serif;
    }
    .conteiner-navbar{
        background-color: slategrey;
        border: 1px solid grey;
        padding: 0px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 25px;
    }
    .conteiner-navbar ul{
        list-style: none;
        padding: opx 0px 0px 10px;
        margin: 0px;
    }
    .conteiner-navbar li{
        display: inline;
    }
    .conteiner-navbar a{
        text-decoration: none;
        text-transform: uppercase;
        color: darkorange;
        padding-right: 25px;
        font-size: 20px;
    }
    .conteiner-navbar a:hover{
        color: orange;
    }
    .current a{
        color: white;
        font-weight: bold;
    }
    .advertisement{
        margin: 1px 0px 3px 0px;
        padding: 0px;
    }
    .advertisement img{
        width: 90%;
        margin: 2px 0px 15px 0px;
        margin-left: 5%;
    }
    .botton{
        display: none;
    }
}