aside{
    flex: 1;
    border-top: 3px solid darkorange;
    background-color: lightgrey;
}
h3{
    background-color: lightgrey;
    width: 100%;
}
.main-conainer{
    display: flex;
    flex-direction: column;
}
.conainer{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.conainer div{
    margin: 1px 1px 2px 1px;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.conainer a{
    text-decoration: none;
}
.conainer a h2{
    color: black;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 1px;
    font: 17px;
}
.conainer a h2:hover{
    color: orange;
}
.conainer a h4{
    color: black;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 1px;
    font: 17px;
}
.conainer a p{
    color: rgb(83, 83, 83);
    text-decoration: none;
    margin: 0px;
    font-size: 13;
}
.conainer .box1{
    flex: 1;
}
.conainer .box1 a h2{
    color: darkorange;
    align-self: center;
}
.conainer .box1 a h2:hover{
    color: darkgray;
    font-weight: bold;
}
.conainer .box2{
    flex: 1;
}
.conainer .box3{
    flex: 1;
}
.conainer-aside{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 }
 .conainer-aside div{
     margin: 1px 1px 2px 1px;
     border-bottom: 1px solid black;
     padding-bottom: 2px;
     background-color: lightgrey;
 }
 .conainer-aside a{
     text-decoration: none;
 }
 .conainer-aside h3{
     color: tomato;
     font-size: 25px;
     margin: 0px 0px 5px 0px;
     text-align: center;
 }
 .conainer-aside a h4{
     color: black;
     font-size: 20px;
     margin: 0px 0px 5px 0px;
 }
 .conainer-aside a h4:hover{
     color: tomato;
 }
 .conainer-aside p{
     color: rgb(83, 83, 83);
     font-size: 15px;
     margin: 0px 0px 5px 0px;
 }
.conainer2{
    margin-top: 10px;
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-top: 3px solid darkorange;
}
.conainer2 div{
    margin: 1px 1px 2px 1px;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.conainer2 a{
    text-decoration: none;
}
.conainer2 a h2{
    color: black;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 1px;
    font: 17px;
}
.conainer2 a h2:hover{
    color: orange;
}
.conainer2 a p{
    color: rgb(83, 83, 83);
    text-decoration: none;
    margin: 0px;
    font-size: 13;
}
.conainer2 .box4{
    flex: 3;
}
.conainer2 .box5{
    flex: 1;
}
.conainer2 .box6{
    flex: 1;
}
@media only screen and (max-width: 480px){
    .conainer a{
        font-size: 10px;
    }
    .conainer2{
        margin-top: 0px;
    }
    .conainer2 a{
        font-size: 10px;
    }
    .conainer-aside h3{
        color: tomato;
        font-size: 20px;
        margin: 0px 0px 3px 0px;
        text-align: center;
    }
    .conainer-aside a img{
        display: none;
    }
    .conainer-aside a h4{
        font-size: 15px;
    }
    .conainer-aside a p{
        display: none;
    }
}
@media only screen and (min-width: 768px){
    aside{
        background-color: whitesmoke;
    }
    .main-conainer{
        flex-direction: row;
        flex-wrap: wrap;
        flex: 50%;
    }
    .conainer-aside{
        align-items: baseline;
        justify-content: flex-start;
        margin-top: 0px;
    }
    .conainer-aside h3{
        margin: 0px;
    }
    .conainer2{
        flex-direction: row;
        flex-wrap: wrap;
        border-top: 0px;
    }
    .conainer2 .box4{
        flex: 1;
    }
    .conainer2 .box5{
        flex: 1;
    }
    .conainer2 .box6{
        flex: 1;
    }
}
@media only screen and (min-width: 900px){
    .main-conainer{
        flex-direction: row;
    }
    .conainer{
    flex-direction: row;
    flex-wrap: wrap;
    }
    .conainer div{
        margin: 2px;
        border-bottom: 1px;
    }
    .conainer2{
        flex-direction: row;
        flex-wrap: wrap;
        }
    .conainer2 div{
            margin: 2px;
            border-bottom: 1px;
        }
    .conainer a h2{
        margin-top: 5px;
        margin-bottom: 5px;
        flex-flow: row wrap;
    }
    .conainer a p{
        font-size: 15;
    }
    .conainer .box1{
        margin-right: 5px;
        padding-right: 5px;
        flex: 3;
    }
    .conainer .box2{
        margin-right: 5px;
        flex: 1;
    }
    .conainer .box3{
        flex: 1;
    }
    .conainer-aside{
        border-top: 5px solid tomato;
        border-bottom: 5px solid tomato;
        border-left: 4px solid tomato;
        background-color: lightgray;
    }
    .conainer aside h3{
        color: tomato;
        font-size: 25px;
        margin: 0px 0px 10px 0px;
        padding: 3px;
    }
    .conainer aside p{
        visibility: visible;
        color: rgb(70, 70, 70);
        font-size: 16px;
        margin: 0px 0px 5px 0px;
    }
    .conainer2 .box4{
    flex: 2;
    }
    .conainer2 .box5{
    flex: 1;
    }
    .conainer2 .box6{
    flex: 1;
    }
}